/*Use Chrom Dev tools
Box model is a box surrounding all elements on the document used for layout. 
From inside to out, it consists of content, padding, border and margin.

Content is the actual content of the element, such as text, images, or other media.

Padding is used to create extra space within an element, between content and border 
(adding some pace outside content area).

Border is used to create a border around content and padding of elements; 
it is a line that goes around the content and the padding; 
it can be used to separate elements from ech other or to add visual interest.

Margin is space outside of the border used to create extra space around an element; 
margin is used to space elements.
(adding/ creating some space in between different elements and to keep them from overlapping).
Most browsers use 16px for top and bottom margins; 
A value of auto can also be used to allow the browser to choose margins, which will usually center block elements horizontally.
Adjacent horizontal margins will be added together to determine the space between elements. 
Vertical margins wull be collapsed, meaning only the larger margin value will be used.
Negative margins used to shift things slightly.

p {
    padding: 10px 20px; /*trbl; vertical horizontal
    border: 5px solid gold;
}*/

/*p {
    padding: 20px;
    margin: 0
}*/

/*Margin collapsing; if we have 2 elements next to each other horizontally, their margins get collapsed into a single margin.
Margin property should be used to separate elements; (the minimum space between 'me' and other elements) 
while the padding property to add space between border and content area of an element.*/
/*Two paragraphs*/   

 p {
    margin: 20px;
    padding: 0
}

/*DIV CLASS*/
div {
    padding: 0;
    margin: 0;
    font-size: 40px;
}

.box-one {
    background-color: #eb5757;
    height: 100px;
    width: 100px; 
    padding: 10px; /*Most buttons styled using padding so that background of the button becomes wider than the actual text itself; use it if you want to space an element away from itself.*/
    border: 20px solid #9b51e0;
    margin:  100px; /*Does not impact the size of the visible box. Moves boxes away from its original position or other boxes. Used to space/ break apart 2 elements apart from each other.*/
    /*box-sizing: border-box;*/
}

.box-two {
    background-color: #2d9cdb;
    height: 100px;
    width: 100px;
    padding: 10px;
    border: 0 solid #27ae60;
    border: 30px solid #9b51e0; 
    margin: 70px;
}